.slick-dots {
    bottom: 10px;
    right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.slick-dots li.slick-active button:before {
    color: #A62B2D;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    display: flex;
    flex-direction: row;

    align-items: center;
    line-height: 20px;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #DDDDDD;
    -webkit-font-smoothing: antialiased;
}