.slick-dots li.slick-active button:before {
    color: #A62B2D;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    display: flex;
    flex-direction: row;

    align-items: center;
    line-height: 20px;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #b8b8b8;
    -webkit-font-smoothing: antialiased;
}

.slick-dots li button:before{
    position: relative;
}